.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(33, 32, 32);
    box-shadow:  2px 3px 10px 1px rgba(0, 0, 0, 0.747);
    height: 12vh;
    flex-direction: row;
}

.logo {
    cursor: pointer;
    animation: rotates 2s linear infinite alternate;
}

@keyframes rotates {
    from{
        transform: translateX(-0.3rem);
    }
    to{
        transform: translateX(0.3rem);
    }
}

.searchbar {
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.input {
    font-size: larger;
    width: 30vw;
    height: 5vh;
    border: 2px solid black;
    border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh;
    padding-left: 15px;
    font-style: italic;
}

.icon {
    color: white;
    height: 5.4vh;
    width: 5.3vh;
    background-color: #546371;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 3vh;
    border-top-right-radius: 3vh;
    cursor: pointer;
    overflow: hidden;
}

.about{
    text-decoration: underline white;
    width: 9vw;
    height: 6vh;
    font-size: x-large;
    /* background-color: rgb(4, 163, 83); */
}

.about:hover{
    background-color: rgba(1, 153, 82, 0.763);
}

.abtus{
    color: white;
    width: 9vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    /* background-color: #2c81d1; */
    width: 10.5vh;
    height: 6vh;
    text-decoration: underline white;
    cursor: pointer;
}

.login:hover{
    background-color: #184d7e;
}

.log{
    color: white;
    width: 10.5vh;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
}

.sell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    width: 10.5vh;
    height: 6vh;
    background-color: #e50707;
    cursor: pointer;
}

.sell:hover{
    background-color: #850101;
}

#sel{
    color: white;
    text-decoration: underline white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10.5vh;
    height: 6vh;
    cursor: pointer;
}

@media (max-width:750px){
    .logo{
        width: 10%;
    }
    .abtus{
        font-size: large;
        display: flex;
    }
    .login{
        font-size: large;
    }
    .sell{
        font-size: large;
        height: fit-content;
        width: fit-content;
        padding: 1%;
    }
    #sel{
        height: fit-content;
        width: fit-content;
    }
    .input{
        font-size: medium;
    }
}

@media (max-width:550px){
    .input{
        font-size: x-small;
        font-weight: 500;
        width: 20vw;
        height: 5vh;
        padding-left: 15px;
    }
    .icon{
        height: 5.4vh;
        width: 5vh;
    }
    .logo{
        width: 9%;
    }
    .abtus{
        font-size: medium;
        display: flex;
    }
    .login{
        font-size: medium;
    }
    .sell{
        font-size: medium;
        height: fit-content;
        width: fit-content;
        padding: 0.6%;
    }
    #sel{
        height: fit-content;
        width: fit-content;
    }
}

@media (max-width:420px){
    /* .navbar{
        flex-direction: column;
        height: 30vh;
    } */
    .logo{
        width: 9%;
    }
    .abtus{
        font-size: small;
        display: flex;
    }
    .login{
        font-size: small;
        height: fit-content;
        width: fit-content;
        padding: 1%;
    }
    .log{
        height: fit-content;
        width: fit-content;
    }
    .sell{
        font-size: small;
    }
    #sel{
        height: fit-content;
        width: fit-content;
    }
}