.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(33, 32, 32);
    box-shadow:  2px 3px 10px 1px rgba(0, 0, 0, 0.747);
    height: 12vh;
    flex-direction: row;
}

.logo {
    /* margin-left: 6rem; */
    cursor: pointer;
    animation: rotates 2s linear infinite alternate;
}

@keyframes rotates {
    from{
        transform: translateX(-0.3rem);
    }
    to{
        transform: translateX(0.3rem);
    }
}

.searchbar {
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: end;
}

.input {
    font-size: larger;
    width: 34vw;
    height: 5vh;
    border: 2px solid black;
    border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh;
    padding-left: 15px;
}

.icon {
    color: white;
    height: 5.2vh;
    width: 5.3vh;
    background-color: #546371;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 3vh;
    border-top-right-radius: 3vh;
    cursor: pointer;
}

.about{
    text-decoration: underline white;
    width: 9vw;
    height: 6vh;
    font-size: x-large;
}

.abtus{
    color: white;
    width: 9vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    background-color: #546371;
    width: 10.5vh;
    height: 6vh;
    text-decoration: underline white;
    cursor: pointer;
}

.login:hover{
    background-color: #3c4851;
}

.log{
    color: white;
    width: 10.5vh;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
}

.sell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    width: 10.5vh;
    height: 6vh;
    background-color: #e50707;
    cursor: pointer;
}

.sell:hover{
    background-color: #850101;
}

#sel{
    color: white;
    text-decoration: underline white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10.5vh;
    height: 6vh;
    cursor: pointer;
}