@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
  font-family: 'Inter', sans-serif;
}

.content {
  justify-content: center;
  align-items: flex-start;
  min-height: 92vh;
  max-height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem 5rem; 
  padding: 3rem;
}

.product-card {
    background-color: #C0DEFF;
    border: black 4px solid;
    height: 50vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 1.5rem;
    border-radius: 2rem;
    /* box-shadow: 0 0.8rem 3rem rgba(0, 0, 0, 0.5); */
    transition: 0.20s;
    overflow: hidden;
}

.product-card:hover {
    transform: scale(1.1)
}

.img {
    height: 25vh;
    width: fit-content;
    min-width: 15vw;
    max-width: 20vw;
    align-self: center;
}

.price {
    font-size: 1.75rem;
    margin-top: 2rem;
    padding-left: 2rem;
    font-weight: 600;
    align-self: baseline;
}

.description {
    margin-top: 0.8rem;
    line-height: 3vh;
    padding-left: 1.3rem;
    /* overflow: hidden; */
}

.descriptionY {
    margin-top: 0.8rem;
    line-height: 3vh;
    padding-left: 1.3rem;
    overflow-y: scroll;
}

