.product-card {
    /* background-color: #0e8e96; */
    background-color: #C0DEFF;
    border: black 4px solid;
    min-height: 60vh;
    width: 28rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 1.5rem;
    border-radius: 2rem;
    box-shadow: 0 0.8rem 3rem rgba(0, 0, 0, 0.5);
    transition: 0.25s;
}

.product-card:hover {
    transform: scale(1.1)
}

.img {
    max-height: 280px;
    max-width: 85%;
    width: 100%;
    margin-top: 2rem;
    align-self: center;
}

.price {
    font-size: 1.75rem;
    margin-top: 2rem;
    padding-left: 2rem;
    font-weight: 600;
    align-self: baseline;
}

.description {
    margin-top: 0.8rem;
    line-height: 3vh;
    padding-left: 1.3rem;
}